mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
      div.video-mixin__thumb
      div.video-mixin__data
        span.video-mixin__title=video.title
        div.video-mixin__meta
          span Uploaded by #{video.owner.username}, 
          span #{video.meta.views} views

mixin video-profile(video)
  a(href=`/videos/${video.id}`).video-mixin
      div.video-mixin__thumb
      div.video-mixin__data
        span.video-mixin__title=video.title
        div.video-mixin__meta
          span #{video.meta.views} views