extends base.pug


block content
  div   
    p=video.description
    small=video.createdAt
    p=video.hashtags.join(" ")
  a(href=`${video.id}/edit`) Edit Video ▶
  br
  a(href=`${video.id}/delete`) Delete Video ▶