extends ../base

block content
  video(src=`/${video.videoUrl}`,controls)
  div.watch__contents
    p.watch__contents__title Title : #{video.title}
    p Desciption: #{video.description}
    p Uploaded at #{video.createdAt}
    p Uploaded by 
      a(href=`/users/${video.owner._id}`)=video.owner.username
    p=video.hashtags.join(" ")
  if String(video.owner._id) === String(loggedInUser._id)
    div.watch__btns
      a(href=`${video.id}/edit`).watch__btn Edit Video ▶
      a(href=`${video.id}/delete`).watch__btn Delete Video ▶