extends ../base.pug


block content
  video(src=`/${video.videoUrl}`,controls)
  div   
    p=video.description
    small=video.createdAt
  div
    small Posted by 
      a(href=`/users/${video.owner._id}`)=video.owner.username
    p=video.hashtags.join(" ")
  if String(video.owner._id) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video ▶
    br
    a(href=`${video.id}/delete`) Delete Video ▶