extends ../base.pug


block content
  video(src=`/${video.videoUrl}`,controls)
  div   
    p=video.description
    small=video.createdAt
  div
    small Posted by #{owner.username}
    p=video.hashtags.join(" ")
  if String(video.owner) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video ▶
    br
    a(href=`${video.id}/delete`) Delete Video ▶